.intro {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
};

.profile {
	width: 250px;
	height: 200px;
};

.greeting {
	font-family: didot;
};

.description {

};